In [1]:
import pandas as pd 
import numpy as np
import requests
import ast

In [2]:
keywords= pd.read_csv("keywords.csv")

In [3]:
keywords

           id                                           keywords
0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
...       ...                                                ...
46414  439050             [{'id': 10703, 'name': 'tragic love'}]
46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

In [4]:
keywords["new_keywords"]= keywords["keywords"].map(lambda x: ast.literal_eval(x))

In [5]:
keywords["new_keywords"].iloc[1]

[{'id': 10090, 'name': 'board game'},
 {'id': 10941, 'name': 'disappearance'},
 {'id': 15101, 'name': "based on children's book"},
 {'id': 33467, 'name': 'new home'},
 {'id': 158086, 'name': 'recluse'},
 {'id': 158091, 'name': 'giant insect'}]

In [6]:
def get_keywords(names):
    key=[]
    st=","
    for i in names:
        key.append(i.get("name"))
            
    if key==[]:
        return np.NaN
    else:
        return st.join(key)

In [7]:
new_key= keywords["new_keywords"].apply(lambda x: get_keywords(x))

In [10]:
keywords["new_key"]= new_key

In [12]:
keywords.columns

Index(['id', 'keywords', 'new_keywords', 'new_key'], dtype='object')

In [13]:
new_keywords= keywords.drop(['keywords', "new_keywords"],axis=1)

In [15]:
new_keywords.to_csv("new_keywords.csv", index= False)